body {
  font-family: Roboto;
}

#page {
  background-color: #f2f4fc;
}
#navbar-menu a {
  text-decoration: none;
  color: #6b708d;
  font-size: 17px;
  font-weight: 500;
  padding-right: 30px;
}
#home-nav {
  color: #072ac8;
}

h1 {
  color: #292e47;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

h2 {
  color: #514d67;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 40px;
  font-weight: 700;
}
h1 + p {
  color: #6b708d;
  font-size: 17px;
  text-align: center;
}
#page {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  padding-left: 30px;
}

.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contact {
  display: none;
}

#hero {
  display: flex;
  flex-direction: column;
}

.hero-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 15px;
}
#get-in-touch-btn {
  text-decoration: none;
  background-color: #072ac8;
  color: white;
  font-size: 17px;
  padding: 15px 30px;
}

#see-btn {
  text-decoration: none;
  color: #6b708d;
  font-size: 17px;
  padding: 15px 30px;
}

#hero-img {
  width: 100%;
}

#hero-card-1,
#hero-card-2 {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat (2, 1fr);
  row-gap: 50px;
  margin-top: 50px;
  justify-items: center;
}

.only-desktop {
  display: none;
}

.img-project {
  width: 30%;
}

.card-container {
  display: flex;
  flex-direction: column;
}
.card {
  background-color: #ffffff;
  width: 100%;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.card h3,
.card p,
.card a {
  padding-left: 30px;
}
.img-project {
  width: 100%;
}

.card > a {
  text-decoration: none;
  color: #072ac8;
  font-weight: 400;
}

.box-container {
  display: flex;
  flex-direction: column;
  background-color: #292e47;
  align-items: center;
  position: relative;
}

.box-container > h3 {
  color: #ffffff;
}

.box-container > p {
  color: #ffc600;
  font-size: 24px;
  font-weight: 500;
}

.client {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.client-info {
  padding-left: 20px;
}
#client-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#Kristin {
  color: #a2d6f9;
}

#Booking {
  color: #ffffff;
}

#emoji-top-left,
#emoji-top-right,
#emoji-bottom-left,
#emoji-bottom-right {
  visibility: hidden;
}

.services-container {
  display: flex;
  flex-direction: column;
}

.card-services {
  background-color: #ffffff;
  margin-bottom: 40px;
  padding: 40px;
  width: 90%;
  height: 260px;
}

.service-title {
  font-size: 24px;
  font-weight: 500;
  padding: 10px;
}

.icon-services {
  background-color: #ecf7ff;
  border-radius: 50%;
  padding: 10px;
}

.link-services {
  text-decoration: none;
  color: #072ac8;
  font-size: 17px;
  font-weight: 400;
}

.service-text {
  margin-bottom: 30px;
}

@media screen and (min-width: 790px) {
  h1 {
    font-size: 60px;
  }
  #contact {
    display: block;
    background-color: #072ac8;
    color: white;
    font-size: 17px;
    padding: 15px 30px;
  }

  #hero {
    display: flex;
    flex-direction: row;
  }

  #hero-img {
    position: relative;
  }
  #hero-card-1,
  #hero-card-2 {
    display: inline;
    position: absolute;
    left: 30px;
    width: 20%;
  }
  #hero-card-1 {
    top: 30px;
    left: 700px;
  }

  #hero-card-2 {
    top: 600px;
    left: 1200px;
  }
  .grid-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .card-container {
    flex-direction: row;
    justify-content: center;
  }

  .card {
    margin-right: 20px;
    width: 340px;
  }

  .img-project {
    height: 240px;
    width: 340px;
  }

  #emoji-top-left {
    visibility: visible;
    position: absolute;
    left: 0%;
    top: 0;
    width: 150px;
    height: 150px;
  }

  #emoji-top-right {
    visibility: visible;
    position: absolute;
    right: 0%;
    top: 0%;
    width: 150px;
    height: 150px;
  }

  #emoji-bottom-left {
    visibility: visible;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 150px;
    height: 150px;
  }

  #emoji-bottom-right {
    visibility: visible;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 150px;
    height: 150px;
  }

  .services-container {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
  }

  .card-services {
    background-color: #ffffff;
    margin-right: 40px;
    padding: 40px;
    width: 340px;
    height: 360px;
  }
}
