body {
  font-family: Roboto;
}

#page {
  background-color: #f2f4fc;
  display: flex;
  flex-direction: column;
  padding-right: 60px;
  padding-left: 60px;
}
#navbar-menu a {
  text-decoration: none;
  color: #6b708d;
  font-size: 17px;
  font-weight: 500;
  padding-right: 30px;
}
#home-nav {
  color: #072ac8;
}

h1 {
  color: #292e47;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

h2 {
  color: #514d67;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 40px;
  font-weight: 700;
}

.body-24 {
  font-size: 24px;
  font-weight: 500;
}

.body-20 {
  font-size: 20px;
  font-weight: 400;
  color: #6b708d;
  text-align: center;
}

.body-17 {
  font-size: 17px;
  font-weight: 400;
  color: #6b708d;
}

h1 + p {
  color: #6b708d;
  font-size: 17px;
  text-align: center;
}

.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contact {
  display: none;
}

#contact > a {
  text-decoration: none;
  color: #ffffff;
}

#hero {
  display: flex;
  flex-direction: column;
}

.hero-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 15px;
}
#get-in-touch-btn {
  text-decoration: none;
  background-color: #072ac8;
  color: white;
  font-size: 17px;
  padding: 15px 30px;
}

#see-btn {
  text-decoration: none;
  color: #6b708d;
  font-size: 17px;
  padding: 15px 30px;
}

#hero-img {
  width: 100%;
}

#hero-card-1,
#hero-card-2 {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat (2, 1fr);
  row-gap: 50px;
  margin-top: 50px;
  justify-items: center;
}

.only-desktop {
  display: none;
}

.img-project {
  width: 30%;
}

.card-container {
  display: flex;
  flex-direction: column;
}
.card {
  background-color: #ffffff;
  width: 100%;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.card h3,
.card p,
.card a,
.card div {
  padding-left: 30px;
}
.img-project {
  width: 100%;
}

.card > a {
  text-decoration: none;
  color: #072ac8;
  font-weight: 400;
}

.box-container {
  display: flex;
  flex-direction: column;
  background-color: #292e47;
  align-items: center;
  position: relative;
  height: 100%;
}

#grey-box {
  margin-left: -38px;
  margin-right: -38px;
}
.box-container > h3 {
  color: #ffffff;
  margin-top: 120px;
}

.box-container > p {
  color: #ffc600;
  font-size: 24px;
  font-weight: 500;
  margin-top: 104px;
  text-align: center;
  margin-bottom: 105px;
}

.client {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.client-info {
  padding-left: 20px;
}
#client-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#Kristin {
  color: #a2d6f9;
}

#Booking {
  color: #ffffff;
}

#emoji-top-left,
#emoji-top-right,
#emoji-bottom-left,
#emoji-bottom-right {
  display: none;
}

.services-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.card-services {
  background-color: #ffffff;
  margin-bottom: 40px;
  padding: 40px;
  height: 260px;
}

.service-title {
  font-size: 24px;
  font-weight: 500;
  padding: 10px;
}

.icon-services {
  background-color: #ecf7ff;
  border-radius: 50%;
  padding: 10px;
}

.link-services {
  text-decoration: none;
  color: #072ac8;
  font-size: 17px;
  font-weight: 400;
}

.service-text {
  margin-bottom: 30px;
}

.projects-heading {
  text-align: left;
}

#contact_section {
  margin: 0 -38px;
}
#mail-container {
  height: 500px;
  background-color: #ffc600;
  padding-top: 136px;
}

#email_input {
  width: 100%;
  height: 80px;
  font-size: 17px;
  background-image: url("/midtermproject/project-assets/newsletter/icon/mail.svg");
  background-repeat: no-repeat;
  background-position: 30px 25px;
  padding-left: 70px;
}

#email-form {
  align-self: center;
  margin-top: 50px;
  width: 400px;
}

#submit {
  width: 100%;
  height: 80px;
  background-color: #072ac8;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  margin-top: 20px;
}

#mail-container {
  display: flex;
  flex-direction: column;
}

#footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 70px;
  align-items: stretch;
}

#circle-logo {
  width: 98px;
}

#footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 70px;
}
#footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat (2, 1fr);
  justify-items: left;
  grid-gap: 16px;
  text-decoration: none;
  font-size: 17px;
  color: #072ac8;
}

#address {
  text-decoration: none;
  font-size: 17px;
  color: #6b708d;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.footer-link {
  text-decoration: none;
  font-size: 17px;
  color: #072ac8;
}

#project-subhead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#completion {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#date {
  color: #6b708d;
  margin-left: 5px;
}

#img-article {
  width: 100%;
  height: 444px;
  object-fit: cover;
  filter: drop-shadow(0 0 0.75rem #8644dd);
}

.article-text {
  text-align: left;
}

#form {
  display: flex;
  flex-direction: column;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-field > label {
  font-size: 20px;
  font-weight: 400;
  color: #6b708d;
  margin-bottom: 10px;
}

.form-field input,
.form-field textarea {
  font-size: 17px;
  font-weight: 400;
  color: #6b708d;
  background-color: rgba(107, 112, 141, 0.1);
  border: none;
  padding: 22px 20px;
}
.form-field textarea {
  height: 200px;
}

#submit-form {
  width: 100%;
  height: 80px;
  background-color: #072ac8;
  color: #ffffff;
  font-size: 17px;
}

@media screen and (min-width: 790px) {
  h1 {
    font-size: 60px;
  }
  #contact {
    display: block;
    background-color: #072ac8;
    color: white;
    font-size: 17px;
    padding: 15px 30px;
  }

  #hero {
    display: flex;
    flex-direction: row;
  }
  #hero-imgs {
    background-image: url("/midtermproject/project-assets/hero-section/hero-image.png");
    min-width: 570px;
    height: 650px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #hero-card-1,
  #hero-card-2 {
    display: block;
    max-width: 200px;
  }

  #container-card1 {
    display: flex;
  }

  #container-card2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 30px;
  }

  .grid-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .card-container {
    flex-direction: row;
    justify-content: center;
  }

  .card {
    margin-right: 20px;
    width: 340px;
  }

  .img-project {
    height: 240px;
    width: 340px;
  }
  .box-container {
    display: flex;
    flex-direction: column;
    background-color: #292e47;
    align-items: center;
    position: relative;
    min-height: 622px;
  }
  #emoji-top-left {
    visibility: visible;
    position: absolute;
    left: 76px;
    top: 51px;
    width: 150px;
    height: 150px;
  }

  #emoji-top-right {
    visibility: visible;
    position: absolute;
    right: 76px;
    top: 51px;
    width: 150px;
    height: 150px;
  }

  #emoji-bottom-left {
    visibility: visible;
    position: absolute;
    bottom: 73px;
    left: 63px;
    width: 150px;
    height: 150px;
  }

  #emoji-bottom-right {
    visibility: visible;
    position: absolute;
    bottom: 73px;
    right: 63px;
    width: 150px;
    height: 150px;
  }

  .services-container {
    display: flex;
    flex-direction: row;
  }

  .card-services {
    background-color: #ffffff;
    margin: 0 10px;
    padding: 40px;
    height: 360px;
  }

  #contact_section {
    margin: 200px -38px 0 -38px;
  }

  #footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 170px;
    align-items: stretch;
  }

  #footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat (2, 1fr);
    justify-items: left;
    grid-gap: 16px;
  }

  #address {
    text-decoration: none;
    font-size: 17px;
    color: #6b708d;
  }

  #email-form {
    align-self: center;
    margin-top: 50px;
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #email_input {
    width: 393px;
    height: 80px;
    font-size: 17px;
    background-image: url("/midtermproject/project-assets/newsletter/icon/mail.svg");
    background-repeat: no-repeat;
  }

  #submit {
    width: 198px;
    height: 80px;
    background-color: #072ac8;
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    margin-top: 0;
    margin-left: 20px;
  }
  .form-field {
    margin-left: 20px;
    margin-bottom: 10px;
  }

  #mail-phone-container {
    display: flex;
    flex-direction: row;
  }

  #mail-phone-container .form-field {
    width: 50%;
  }
}
