body {
  background-color: #f2f4fc;
  font-family: Roboto;
}

#navbar-menu a {
  text-decoration: none;
  color: #6b708d;
  font-size: 17px;
  font-weight: 500;
  padding-right: 30px;
}
#home-nav {
  color: #072ac8;
}

h1 {
  color: #292e47;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

h1 + p {
  color: #6b708d;
  font-size: 17px;
  text-align: center;
}
#page {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  padding-left: 30px;
}

.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contact {
  display: none;
}

#hero {
  display: flex;
  flex-direction: column;
}

.hero-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 15px;
}
#get-in-touch-btn {
  text-decoration: none;
  background-color: #072ac8;
  color: white;
  font-size: 17px;
  padding: 15px 30px;
}

#see-btn {
  text-decoration: none;
  color: #6b708d;
  font-size: 17px;
  padding: 15px 30px;
}

#hero-img {
  width: 100%;
}

#hero-card-1,
#hero-card-2 {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat (2, 1fr);
  row-gap: 50px;
  margin-top: 50px;
  justify-items: center;
}

.only-desktop {
  display: none;
}

@media screen and (min-width: 790px) {
  h1 {
    font-size: 60px;
  }
  #contact {
    display: block;
    background-color: #072ac8;
    color: white;
    font-size: 17px;
    padding: 15px 30px;
  }

  #hero {
    display: flex;
    flex-direction: row;
  }
}
